* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Arial;
  margin: 0;
}

/* Header */
header {
  padding: 40px;
  text-align: center;
  background: #1a73bc;
  color: white;
}

h2, h3, h4{
    color: rgb(3, 49, 148);
}
img{
  border:rgb(3, 49, 148) 1px solid;
}
ul{
  line-height: 30px;
}

/* Top navigation bar */
.navbar {
  display: flex;
  background-color: #07307e;
  justify-content: center;

}

/* Navigation bar links */
.navbar a {
  color: white;
  padding: 14px 30px;
  text-decoration: none;
  text-align: center;
  margin: 0px 40px;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: rgb(3, 49, 148);
}

/* Column container */
.container {  
  display: flex;
  flex-wrap: wrap;
  margin:0px 20vw 0px 20vw;
}

/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

.main p{
  line-height: 30px;
}

/* Fake image, just for this example */

/* Footer */
footer {
    background-color: #dfdddd;
    font-size: 12px;
    padding: 10px;
  text-align: center;
  word-spacing: 5px;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 950px) {
  .container {   
    flex-direction: column;
  }

  .container {  
    margin:0px;
  }
}


@media screen and (max-width: 700px) {
  .navbar a {
    margin: 0px ;
  }
}

